---
---

#btnScrollToTop{
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #e62739;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  outline: none;
  cursor: pointer;
  border: none;
}
#btnScrollToTop:active{
  background: #cc2333;
}
.purple-text {
  color: #5a19b5;
}
.container-grid {
  display: grid;
  grid-template-columns: 1;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 0 40px;
  grid-template-rows: auto;
}
.container-grid .box {
  display: flex;
  height: 400px;
  background: #060c21;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
}
.container-grid .box:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  transform: skew(2deg,2deg);
  z-index: -1;
}
.container-grid .box:nth-child(1):before {
    background: linear-gradient(315deg, #ff0057, #e64a19);
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
}
.container-grid .box:nth-child(2):before {
    background: linear-gradient(315deg, #89ff00, #00bcd4);
}
.container-grid .box:nth-child(3):before {
    background: linear-gradient(315deg, #e91e63, #5d02ff);
}
.container-grid .box::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}
.content {
  position: relative;
  padding: 20px;
  transform: translateY(40px);
}
.box .content h2 {
  position: absolute;
  top: -140px;
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: rgba(255,255,255,.05);
  transition: 0.5s;
}
.box:hover .content h2 {
  top: -210px;
}
.box .content h3 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 34px;
  font-weight: 500;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.box .content a {
  position: relative;
  margin: 20px 0 0;
  padding: 10px 20px;
  border: 1px solid #fff;
  display: inline-block;
  color: #fff;
  transition: 0.5s;
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.box:hover .content a {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}
.box .content a:hover {
  color: #000;
  background: #fff;
}
.work-text {
  font-family: "Montserrat", sans-serif;
  color: #5a19b5;
  margin-bottom: 50px;
  font-size: 5vw;
}
.bg-work {
  background-color: #e7eeed;
}
.modaal-container {
  top: 5vw;
  width: 100vw;
  max-width: 66vw;
}
.modaal-wrapper .modaal-close {
  top: 5em;
  right: 2em;
}
.modaal-heading {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 115px;
  font-size: 4vw;
}
.text-sub{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}
.text-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 5vw;
}
.background-text {
    text-align: center;
    position: absolute;
    font-family: 'Secular One', sans-serif;
    color: #fff55a;
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
    font-size: 22vw;
    left: 5rem;
}
 .logo-image {
     top: 0px;
     left: 0px;
 }
 .masthead-background {
   height: 100vh;
   min-height: 500px;
   background-image: url("{{ '/images/Under_Background.png' | prepend: site.baseurl }}");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: scroll;
 }
.masthead-under-background {
  height: 100vh;
  min-height: 500px;
  background-image: url("{{ '/images/Under_Background.png' | prepend: site.baseurl }}");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
 .background-image-left {
   position: relative;
   top: 5vw;
   left: -27vw;
   width: 18vw;
   max-width: 14rem;
   transition: .8s;
   -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
   height: auto;
 }

 .background-image-right {
   top: 5vw;
   left: 60vw;
   width: 13vw;
   max-width: 11rem;
   position: relative;
   transition: .8s;
   -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
   height: auto;
 }
 .background-image-under {
   position: relative;
   top: 13vw;
   left: 31vw;
   transition: .8s;
   -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
   height: auto;
   width: 13vw;
   max-width: 11rem;
 }
.icon-ruby {
  position:relative;
  transition: transform 1s;
  -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
  width: 38vw;
  max-width: 17rem;
}
.icon-ruby:hover {
  transform: scale(1.2);
}
.line-height {
  line-height: 2;
}
.navbar-light .navbar-toggler {
  margin-inline: 1rem;
}

/*--------------- @media queries --------------------*/

@media (min-width: 320px) and (max-width: 480px) {
  .background-image-left {
    left: -36%;
    width: 25vw;
    top: 1vw;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .background-image-under {
    width: 20vw;
    left: 30vw;
    top: 20vw;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .background-image-right {
    width: 19vw;
    left: 65vw;
    top: -2vw;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .background-image-left {
    left: -30vw;
    width: 23vw;
    top: 0vw;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .background-image-under {
    width: 17vw;
    left: 32vw;
    top: 19vw;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .background-image-right {
    width: 17vw;
    left: 60vw;
    top: -2vw;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .background-image-left {
    left: -30vw;
    width: 20vw;
    top: 1vw;
  }
}
@media (min-width: 768px) and (max-width: 1024px){
  .background-image-under {
    width: 15vw;
    left: 33vw;
  }
}
@media (min-width: 768px) and (max-width: 1024px){
  .background-image-right {
    width: 15vw;
    left: 55vw;
    top: -1vw;
  }
}

@media (min-width: 1400px) {
  .background-text {
    font-size: 18em;
  }
}
@media (min-width: 320px) and (max-width: 800px) {
  h1.modaal-heading {
    font-size: 6vw;
  }
}
@media (min-width: 320px) and (max-width: 800px) {
  h2.modaal-heading {
    font-size: 6vw;
  }
}
@media only screen and (max-width: 1100px) {
  .modaal-wrapper .modaal-close {
    background-color: #39CCCC  !important;
  }
}
@media (min-width: 900px) {
  .work-text {
    font-size: 3rem;
  }
}
@media (min-width: 900px) {
  .text-heading {
    font-size: 3rem;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .container-grid .box {
    width: 66vw;
    left: 4rem;
    height: 300px;
    margin-block: 10px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .container-grid .box {
    width: 50vw;
    left: 7rem;
    height: 350px;
    margin-block: 10px;
  }
